# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
- name: RunTests
  default: true

trigger: none
pr:
  branches:
    include:
    - main
    - release-*

pool:
    vmImage: 'ubuntu-22.04'
jobs:
- job: RunTests
  steps:

  - template: azure-pipelines-test.yml  # Template reference
    parameters:
      HelmVersions:
      - version: "3.19.0"
      - version: "3.19.1"
      - version: "3.19.2"
      - version: "4.0.0"
      - version: "4.0.1"
      



